body {
    text-align: center;
    margin: 0;
    padding: 0;
    background-color:black;
    line-height: 50px;
}
h1{
    color:grey;
}
.container{
    background-color: white;
    border-radius: 10%;
    padding: 20px 20px 0 20px;
    
    margin: 100px 0 0 600px;
    height: 600px;
    width: 600px;

}
.inline{
    text-align: left;
    padding:  10px 80px;
    
}
.show{
    border-style: none;
}
.footer{
    margin-bottom: 0;
    padding: 200px 0 0 0;
}

